.parent{
    padding: 25px;
    background-color: rgb(241, 195, 135);
    display: flex;
    gap: 30px;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.child{
    border: 2px solid skyblue;
    background-color: rgb(165, 231, 222);
    padding: 20px;
    
    font-size: 28px;
}